.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-image: url("./White Minimalist Simple Aesthetic Name Twitter Header (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.nav-cont ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-cont li {
    margin-right: 20px;
}

.nav-cont a {
    text-decoration: none;
    color: #333; 
    font-weight: bold;
    font-size: 16px; 
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    padding: 10px 15px; 
    border-radius: 5px; 
}

.nav-cont a:hover {
    background-color: #4CAF50; 
    color: #fff; 
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .nav-bar {
        height: 60px;
    }

    .nav-cont li {
        margin-right: 10px;
    }

    .nav-cont a {
        font-size: 14px;
        padding: 8px 12px;
    }
}