body {
    background-color: lightblue;
}

.individualRecipeCard {
    border: 2px solid black;
    /* align-items: center; */
    
    
}

p {
    border-bottom: 1px solid black;
    text-align: center;
}

.mealName{
    text-align: center;
}

/* img {
    justify-content: center;
} */

h3.ingredientsHeading {
    text-align: center ;
}

.youtubeLink #text {
    text-align: center;
}
.mealImage {
    align-items: center;
}